RewriteEngine On

RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP:X-Forwarded-Proto} !=https
RewriteCond %{HTTP_HOST} ^(www[.])?kapsula55[.]ru$ [NC]
RewriteRule ^ https://kapsula55.ru%{REQUEST_URI} [R=301,L]

RewriteCond %{HTTP_HOST} ^www[.] [NC]
RewriteRule ^ https://kapsula55.ru%{REQUEST_URI} [R=301,L]

ErrorDocument 404 /404.html

<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/css application/javascript image/svg+xml application/xml
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/webp "access plus 1 year"
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 month"
</IfModule>
